<div class="container">
    <div class="blog-post">
        <div class="blog-post__title">Description </div>
        <div class="blog-post__text">first name: {{store.state.user.firstName}}</div>
        <div class="blog-post__text">phone number: {{store.state.user.phone}}</div>
        <div class="blog-post__text">email: {{store.state.user.email}}</div>
        <div class="blog-post__text">login: {{store.state.user.login}}</div>
        <div class="blog-post__text">id: {{store.state.user.id}}</div>
        {{{logoutButton}}}
    </div>
</div>